# System and IDE files
Thumbs.db
.DS_Store
.idea
*.suo
*.sublime-project
*.sublime-workspace

# Vendors
node_modules/

# Build
/npm-debug.log

# Do not push mp3 files at least for now.
*.mp3

# Do not push atlas files
/dist/assets/atlasses/*